
{% extends "base.html" %}
{% load django_markdown %}

{% block blog_entries %}
{% for object in object_list %}

 <div style="text-align: center; background: orange;" class="row" >
<div class="col-md-6 col-md-offset-3" style="border: 2px solid red; border-radius: 25px; background:black; padding-bottom:25px;">
    <h2><a  href="{% url 'entry_detail' slug=object.slug %}">{{ object.title }}</a></h2>
    <p  class="meta">{{ object.created }}</p>
    <span style="color: white;">{{ object.body|markdown }}</span>
  </div>
</div>
<br />

<script type="text/javascript">
    $(document).ready(function(){
        $("h2").click(function(){
            $("h2").load("{% url 'entry_detail' slug=object.slug %}");
                });
        });


</script>

{% endfor %}
{% endblock %}
